name: task
on:
  # 1. Existing schedule trigger (runs every 5 minutes)
  schedule:
    - cron: '*/2 * * * *' 
  
  # 2. NEW Manual Trigger (Allows running from the GitHub UI)
  workflow_dispatch: 
    # Optionally, you can define inputs for the manual run here
    # Example: You could define an input to override the 'product-id'

jobs:
  job:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Check Tickets
        uses: xiang-alex-ao/melon-ticket-actions@v1.0.0
        with:
          product-id: 212431
          schedule-id: 100001
          seat-id: 1_0
          slack-incoming-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          message: 'Found ticket'
